body{
    /* background-color: black; */
    background-color: #581F8F;
}
.landing-page{
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    height: 100vh; 
    text-align: center;
    color: black;
    font-family: modak;
  
}
.header{
    font-size: 89px;
    margin-bottom: -3px;
    
}
.text button{
    background-color: black;
    color: #9A79C6;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    box-shadow: 1px 1px 7px black;
    cursor: pointer;
    
}

